.event-section {
  padding-inline: 10px;
  padding-top: 74px;
  text-align: center;
}

.about-header h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--home-text);
  text-align: center;
  margin-bottom: 10px;
}

.about-header .highlight {
  color: var(--home-accent);
}

/* Slider */
.event-slider {
    margin-top: 50px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.event-track {
  display: flex;
  width: calc(250px * 8); /* 4 events x2 */
  animation: scroll 20s linear infinite;
}

.event-card {
  flex: 0 0 320px;
  margin: 0 10px;
  border: 1px solid var(--home-accent);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  background-color: var(--home-bg);
  position: relative;
}

.event-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.event-info {
  padding: 15px;
  text-align: left;
}

.event-info h3 {
  margin: 0 0 8px;
  font-size: 16px;
  color: var(--home-accent);
}

.event-info p {
  margin: 0;
  font-size: 14px;
  color: var(--home-text-secondary);
}

/* Animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
