/* Flip Card Layout */
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 420px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s ease;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}

.flip-card-front {
  z-index: 2;
}

.flip-card-back {
  transform: rotateY(180deg);
  z-index: 1;
  border: 1px solid var(--home-accent);
  border-radius: 12px;
}

/* Projects Section */
.projects-section {
  padding-inline: 40px;
  padding-top: 74px;

}

.section-header {
  text-align: center;
  margin-bottom: 60px;
}

.section-header h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--home-text);
}

.section-header .highlight {
  color: var(--home-accent);
}

.section-header p {
  color: var(--home-text-secondary);
}

/* Grid */
.projects-grid {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* max-width: 1600px;  */
  margin: 0 auto;
  row-gap: 48px; /* Vertical gap */
  column-gap: 24px; /* Horizontal gap */
  width: 100%;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}
@media (min-width: 1300px) {
  .projects-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 900px) and (max-width: 1299px) {
  .projects-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 599px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
}

/* Card Styling */
.project-card {
  height: 100%;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.project-img {
  height: 180px;
  object-fit: cover;
}

.project-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}

.project-desc {
  font-size: 14px;
  color: var(--home-text-secondary);
  margin-top: 12px;
  text-align: justify;
}

.tech-tags {
  margin-top: 12px;
}

.project-buttons {
  margin-top: 20px;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: center;
}

.view-all {
  margin-top: 60px;
  text-align: center;
}
/* Animate on appear */
.project-card-appear {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.6s ease forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
