.divider {
  width: 40%; /* equivalent to w-1/3 */
  margin: 1rem auto; /* equivalent to mx-auto my-4 */
  height: 1px;
  background: linear-gradient(90deg, transparent, #00f0ff, transparent);
}

.main-container {

  margin: 0 auto;

  max-width: 1600px;
}